/* html, */
/* body, */
/* .GMap { */
/*   height: 100%; */
/*   position: absolute; */
/*   width: 100%; */
/* } */

/* .GMap-canvas { */
/*   top: 20px; */
/*   display: block; */
/*   height: 100%; */
/* } */
/* .UpdatedText { */
/*   color: red; */
/* } */



/* .u-full-height { */
/*     height: 95vh; */
/* } */

/* .hide-overflow */
/* { */
/*     overflow:hidden; */
/*     white-space:nowrap; */
/*     text-overflow:ellipsis; */
/*     margin-left:1em; */
/*     display:block; */
/* } */


html,
body {
    height: 100vh;
}

.gmap-container {
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 100%;
}

.GMap {
    height: 100vh;
}

.GMap-canvas {
    height:  97vh;
}

.listings-list {
    overflow-y: scroll;
    height: 97vh;
    margin-left: 0;
}

/* .columns { */
/*     margin-left: 1em; */
/* } */


.hide-overflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin-right:1em;
    display:block;
}
