<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Simple Map</title>
            <meta name="viewport" content="initial-scale=1.0">
            <meta charset="utf-8">
            <style>
             html, body {
                 height: 100%;
                 margin: 0;
                 padding: 0;
             }
             #map {
                 height: 100%;
             }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </body>
</html>
