<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Simple Map</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="utf-8">
            <link rel="stylesheet"
                  href="{{url_for('static', filename='lib/skeleton/css/normalize.css')}}">
            <link rel="stylesheet"
                  href="{{url_for('static', filename='lib/skeleton/css/skeleton.css')}}">
            <link rel="stylesheet"
                  href="{{url_for('static', filename='css/style.css')}}">
            <!-- <style>
                 html, body {
                 height: 100%;
                 }
                 #map {
                 height: 50%;
                 }
                 </style> -->
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block script %}
            <script src="{{url_for('static', filename='lib/webcomponentsjs/webcomponents.min.js')}}"></script>
            <script src="{{url_for('static', filename='js/util.js')}}"></script>
        {% endblock %}
    </body>
</html>
