{% extends 'layout.html' %}


{% block content %}
    {{ super() }}
    <div id="templates">
        {% raw %}
            <template id=ltempl>
                <li>
                    <a  class="hide-overflow" href ="{{ url }}">
                        {{ title }}
                    </a>
                    <ul>
                        <li>
                            {{ price_currency }} {{ price }}
                        </li>
                    </ul>
                </li>
            </template>
        {% endraw %}
    </div>
    <div class="container u-full-width u-max-full-width u-full-height">
        <div class="row">
            <div class="eight columns">
                <div class="form">
                    <label>Search
                        <input type="search" placeholder="2 bedroom" id="search_input">
                    </label>

                </div>
            </div>
            <div class="four columns">
                <div class="form">
                    <label>Sort by
                        <button onclick="sort_listings('price')">Price</button>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="eight columns" id="map">

            </div>
            <div class="four columns" >
                <ul id="listings">
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{url_for('static', filename='lib/wcstamp/src/stamp.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
     var ctx = new Stamp.Context();
    </script>
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{gmaps_key}}&callback=initMap"
            async defer></script>
{% endblock %}
