{% extends 'layout.html' %}


{% block content %}
    {{ super() }}
    <div class="container">
        <!-- <div class="row">
             <div class="eight columns">
             <div class="form">
             <label>Search
             <input type="search" placeholder="2 bedroom" id="search_input">
             </label>

             </div>
             </div>
             <div class="four columns">
             <div class="form">
             <label>Sort by
             <button onclick="listingsmgr.sort('price')">Price</button>
             </label>
             </div>
             </div>
             </div> -->
        <div class="row">
            <div id="parent-container">
            <div class="eight columns" id="gmap-container">
            </div>
            <!-- <div class="eight columns" id="map_canvas">
                 </div> -->
            <div class="four columns" id="listings">
                <ul>
                    <li>What</li>
                    <li>Help me</li>
                </ul>
                <!-- <ul id="listings">
                     </ul> -->
            </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    {{ super() }}
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi6069tEYQPtxD7LsbE0FHhiKzYKUtDiM">
    </script>
    <script src="{{url_for('static', filename='lib/react/react.js')}}"></script>
    <script src="{{url_for('static', filename='lib/react/react-dom.js')}}"></script>
    <script type="text/babel" src="{{url_for('static', filename='js/reactmap.js')}}"></script>
{% endblock %}
